{% extends 'base.html' %}

{% block title %}
  Архивировать товар #{{ product.pk }}
{% endblock %}

{% block body %}
     {% if request.user.pk in product.user.pk or request.user.baseuser.moder or request.user.is_staff %}
      <h1>Архивировать <code>{{ product.name }}</code></h1>
  <div class="alert alert-danger">
    Вы уверены, что хотите архивировать товар #{{ product.pk }}
    с именем <code>{{ product.name }}</code>?
  </div>

  <form method="post">
    {% csrf_token %}
    <input class="btn btn-warning" type="submit" value="Archive">
  </form>
    {% else %}
    <h1>Вам сюда нельзя</h1>
    {% endif %}


  <div>
    <a class="btn btn-sm btn-info" href="{% url 'showcase_app:product' pk=product.pk %}">Назад к подробностям</a>
  </div>
{% endblock %}