{% extends 'base.html' %}

{% block title %}
  Архивировать вопрос #{{ question.pk }}
{% endblock %}

{% block body %}
     {% if request.user.pk in product.user.pk or request.user.baseuser.moder or request.user.is_staff %}
  <h1>Архивировать вопрос?</h1>


  <form method="post">
    {% csrf_token %}
    <input class="btn btn-warning" type="submit" value="Archive">
  </form>
    {% else %}
    <h1>Вам сюда нельзя</h1>
    {% endif %}
  <div>
    <a class="btn btn-sm btn-info" href="{% url 'showcase_app:question' pk=question.pk %}">Назад к вопросу</a>
  </div>
{% endblock %}