{% extends 'base.html' %}

{% block title %}
  Sales Shop Index
{% endblock %}

{% block body %}

  <h1>Hello!</h1>

  <div>
    <p>Ссылки:</p>
    <ul>
      <li>
        <a href="{% url 'showcase_app:index' %}">Витрина</a>
      </li>
      <li>
        <a href="{% url 'login' %}">Логин</a>
      </li>
{#        <a href="{% url 'user_app:index' %}">юзер</a>#}
    </ul>
  </div>
{% endblock %}